sites/
__pycache__/
.vscode/
vastai_deploy.sh
hpc_deploy.sh
single_job.sh
single_job_tune.sh
TODOS
*.idx
*.grib
.opentopography.txt
config/params.py
packages_licenses.ods
repo-tree.pdf
ref.xlsx
run_diagnostics.py
diagnostic_summary.csv
tune_params.py
paper/
tuning_runs/
plam_sites/config.ini
trial_results.csv
tuning_results.csv
hpc_tuning.sh
plot_diagnostic_summary_figures.py
diagnostic_figures/